.condicional {
    border-width:1px !important;
    border-color: blueviolet !important;
}

button{
    margin: 2px !important;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color:black;
}